* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Expletus Sans', cursive;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 100px 0;
}

a {
  color: #292929;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 1em 0;
}

/*------------------------ navbar ------------------------*/
.navbar {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  font-size: 1em;
}

#sydney_logo {
  height: 1em;
  padding: 0 0.5em;
}

#logo {
  font-weight: bold;
  background: -webkit-linear-gradient(#ffab40, #ff6d00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#nav-li:hover {
  text-decoration: underline;
  color: #201f1f;
}

/*------------------------ header ------------------------*/
header {
  text-align: center;
}

.header-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.headshot {
  min-height: 300px;
  width: auto;
}

.header_contact_icons {
  display: flex;
}

.header_contact_icons i {
  font-size: 2em;
  padding: 0.5em;
}

.header-right {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.header-name {
  color: #ff972a;
}

h4 .twitter-action {
  margin: 0;
}

.carousel-control-prev-icon {
   background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')
}
.carousel-control-next-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
}

/*------------------------ General ------------------------*/
h2 {
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  color: #323330;
  margin-bottom: 1em;
}

.download {
  margin: 0 auto;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #F5F5F6;
}

.action {
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: 600;
  margin: 0 auto;
}

#action-link {
  color: #ff6d00;
}

/*------------------------ Projects ------------------------*/
#project_title {
  margin-bottom: 1em;;
}

.card-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
    margin: 20px 0;
}

.card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.btn-outline-danger {
  color: #ff6d00;
  border-color: #ff6d00;
}

.btn-outline-danger:hover {
  color: #fff;
  border-color: #ff6d00;
  background-color: #ff6d00;
}

/*------------------------ about_me ------------------------*/
#about .row {
  margin-right: 0;
}

.about-mid-col {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.about_text {
  text-align: center;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.about_logo_all {
  height: 50px;
}

.gachon {
  padding-top: 0
}

/*------------------------ tech_stack ------------------------*/
#tech-ul {
  padding-left: 0;
}

.front_end,
.back_end,
.db,
.tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.big_logo {
  height: 4em;
}

img {
  height: 4em;
}

.tech_logo_gap {
  margin-left: 1em;
  margin-right: 1em;
}

/*------------------------ footer ------------------------*/
.footer {
  background-color: #323330;
  padding: 3em 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items:
}

#footer-action {
  font-size: 2em;
  color: #fffff7;
  display: inline-block;
}

#contact {
  display: inline-block;
}

.contact_icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.contact_icons i {
  font-size: 2em;
  padding: 0.5em
}

#contact a {
  text-decoration: none;
  color: #fffff7;
}

#contact h2,
#contact h5 {
  color: #fffff7;
  text-align: center;
  margin-bottom: 15px;
}
